*{
	margin:0;
	padding:0;
}

#reunion{
	background-image:url(../img/reunion/reunionpizarra.png);
    background-repeat: no-repeat;
    background-size:cover;
    width:100%;
    height:120vh;
}

 .globo{
 	display:none;
 	background-image:url(../img/reunion/globo_texto.png);
    width: 205px;
    height: 134px;
    background-size: 100%;
    position: absolute;
    top: 38px;
    left: 376px;
  }

.globo2{
 	display:none;
 	background-image:url(../img/reunion/globo_texto.png);
    width: 205px;
    height: 134px;
    background-size: 100%;
    position: relative;
    top: 80px;
    left: 615px;
}

.globo3{
 	display:none;
 	background-image:url(../img/reunion/globo_texto.png);
    width: 205px;
    height: 134px;
    background-size: 100%;
    position: relative;
    top: 100px;
    left: 314px;
}

 .texto{
    p{
       margin-top:20px;
    }
}

    .dialog{
    	img{
    		width: 100%;
            margin-top: 315px;
    	}
    }

   .button{
   	img{
    width: 30%;
    margin-left: 763px;
    margin-top: -55px;
   	}

   	.texto2{
   		p{
    margin-top: -85px;
    padding-left: 884px;
    font-size: 40px; 
}
   	}

   	.texto{
   		p{
    margin-top: -165px;
    margin-left: 30px;
    font-size:20px;
   		}
   	}
   }

.textbutton{
	position: absolute;
    left: 78%;
    margin-top: -29px;
    color: white;
    font-size: 2em;
    font-weight: bold;
}

#uno{
    font-size:17px;
    /* horizontal center */
    text-align: center;
    /* vertival center */
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    /* padding */
    width: 100%;
    padding: 10%;


}

#dos {
    font-size:17px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 10%;
    text-align: center;
}

#tres {
    font-size:17px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 10%;
    text-align: center;
}


.all-maribel{
	display:none;
}

body{
	margin: 0;
	padding: 0;
}
.planta{
	height: 100vh;
}
.planta img{
	width: 100%;
	height: 110vh;
	margin-top: 0%;
}
.uno{
	position: absolute;
    top: 33%;
    left: 20%;
    background-color: #b24a62;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.dos{
	position: absolute;
    top: 45%;
    left: 40%;
    background-color: yellow;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.tres{
	position: absolute;
    top: 20%;
    left: 58%;
    background-color: green;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.cuatro{
	position: absolute;
    top: 35%;
    left: 73%;
    background-color: lightblue;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.cinco{
	position: absolute;
    top: 60%;
    left: 78%;
    background-color: orange;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.seis{
	position: absolute;
    top: 65%;
    left: 54%;
    background-color: blue;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.siete{
	position: absolute;
    top: 78%;
    left: 42%;
    background-color: purple;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.pulse {
    -webkit-animation-name: pulsate;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes pulsate {
    0% { opacity: 0.0}
   10% { opacity: .20}
   20% { opacity: .40 }
   30% { opacity: .60 }
   40% { opacity: .80 } 
   50% { opacity: 1.0}
   60% { opacity: .80}
   70% { opacity: .60}
   80% { opacity: .40}
   90% { opacity: .20}
   100% { opacity: 0.0}
 }

 .mnVerde .ruta-mn{
 	width: 39%;
    display: none;
    margin-top: -65.8%;
    margin-left: 56%;
 }

 .moppCeleste .ruta-mopp{
 	width: 39%;
    display: none;
    margin-top: -54.8%;
    margin-left: 57%;
 }

  .xdNaranjo .ruta-xd{
 	width: 18.5%;
    display: none;
    margin-top: -50.9%;
    margin-left: 59%;
 }

 .ptlAzul .ruta-ptl{
 	width: 11.2%;
    display: none;
    margin-top: -39%;
    margin-left: 44%;
 }

 .dsLila .ruta-ds{
 	width: 18.2%;
    display: none;
    margin-top: -15.7%;
    margin-left: 11%;
 }

 #linea1 {
    width: 0;
    height: 10px;
    background: #f92672;
    -webkit-transition: width 1s, background 1s;
    -moz-transition: width 1s, background 1s;
    -o-transition: width 1s, background 1s;
    transition: width 1s, background 1s;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    position: absolute;
    top: 27%;
    left: 20%;
}

#linea2 {
    width: 0;
    height: 10px;
    background: #f92672;
    -webkit-transition: width 1s, background 1s;
    -moz-transition: width 1s, background 1s;
    -o-transition: width 1s, background 1s;
    transition: width 1s, background 1s;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    position: absolute;
    top: 40%;
    left: 40%;
}
#linea3 {
    width: 0;
    height: 10px;
    background: #f92672;
    -webkit-transition: width 1s, background 1s;
    -moz-transition: width 1s, background 1s;
    -o-transition: width 1s, background 1s;
    transition: width 1s, background 1s;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    position: absolute;
    top: 40%;
    left: 40%;
}

#linea4 {
    width: 0;
    height: 10px;
    background: #f92672;
    -webkit-transition: width 1s, background 1s;
    -moz-transition: width 1s, background 1s;
    -o-transition: width 1s, background 1s;
    transition: width 1s, background 1s;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    position: absolute;
    top: 18%;
    left: 65%;
}

#linea5 {
    width: 0;
    height: 10px;
    background: #f92672;
    -webkit-transition: width 1s, background 1s;
    -moz-transition: width 1s, background 1s;
    -o-transition: width 1s, background 1s;
    transition: width 1s, background 1s;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    position: absolute;
    top: 12%;
    left: 66%;
}

#linea6 {
    width: 0;
    height: 10px;
    background: #f92672;
    -webkit-transition: width 1s, background 1s;
    -moz-transition: width 1s, background 1s;
    -o-transition: width 1s, background 1s;
    transition: width 1s, background 1s;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    position: absolute;
    top: 25%;
    left: 66%;
}

body {
	margin: 0;
	padding: 0;
}

/* Index */
.logo {
	background-image: url(../img/logo/splash_001.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;

	.btn-logo {
		margin-top: 50%;
		margin-left: 80%;
	}

	.siguiente {
		@include btnSiguiente();
		font-size: 1.2em;
		left: 86%;
		top: 92.5%;
	}
}


/* Intro */
.intro {
	background-image: url(../img/intro/003.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	height: 133vh;
	max-width: 100%;
	.dialogo {
	    margin-top: 50%;
	    #contenido {
			margin: -20% 5% 3%;
			font-weight: bold;
			color: whitesmoke;
			font-size: 1.8em;
	    }
	    .btn-intro{
			margin-left: 36%;
			margin-top: -9%;
	    }

		.siguiente {
			@include btnSiguiente();
			font-size: 2em;
			left: 84.5%;
			top: 145.5%;
		}
	}
}


